<div class="container" *ngIf="modelForm">
  <form [formGroup]="modelForm">
    <div>
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Choose type of food</mat-label>
        <mat-select formControlName="kind">
          <mat-option value="option">starter</mat-option>
          <mat-option value="main">main</mat-option>
          <mat-option value="soup">soup</mat-option>
          <mat-option value="dessert">dessert</mat-option>
        </mat-select>
        <mat-hint align="end"></mat-hint>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Here put your Formula</mat-label>
        <textarea matInput formControlName="formula"></textarea>
      </mat-form-field>
    </div>
    <div>
      <mat-checkbox formControlName="isVegan">Is Vegan?</mat-checkbox>
    </div>
    <button type="submit" (click)="addRecipe()">Send</button>
  </form>
</div>

