<h1 mat-dialog-title>Add Recipe</h1>
<div mat-dialog-content>
  <form [formGroup]="modelForm">
    <div>
      <mat-form-field class="w-100">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Choose type of food</mat-label>
        <mat-select formControlName="kind">
          <mat-option [value]="kind.STARTER">starter</mat-option>
          <mat-option [value]="kind.MAIN">main</mat-option>
          <mat-option [value]="kind.SOUP">soup</mat-option>
          <mat-option [value]="kind.DESSERT">dessert</mat-option>
        </mat-select>
        <mat-hint align="end"></mat-hint>
      </mat-form-field>
    </div>
    <div class="mt-3 mb-2">
      <mat-checkbox formControlName="isVegan">Is Vegan?</mat-checkbox>
    </div>
    <div class="formula">
      <quill-editor formControlName="formula" placeholder="formula...">Here put your Formula</quill-editor>
    </div>

  </form>
</div>
<div mat-dialog-actions class="d-flex justify-content-between">
  <button mat-raised-button (click)="close()">Close</button>
  <button *ngIf="!recipe"
          mat-raised-button color="primary"
          (click)="addRecipe()"
          [disabled]="!modelForm.valid"
  >Save
  </button>
  <button *ngIf="recipe"
          mat-raised-button color="primary"
          (click)="editRecipe()"
  >Update
  </button>
  <button mat-raised-button color="primary">
    <div *ngIf="recipe?.id || createdRecipeId">
      <label for="upload">
        <input class="inputTypeFile"
               multiple
               type="file"
               name="recipeImage"
               (change)="uploadImage($event)"
               id="upload">
        <span class="material-icons">publish</span> Upload photo
      </label>
    </div>
  </button>
</div>
