@import "src/assets/styles/variables";

table {
  width: 100%;
}

.mat-elevation-z8 {
  height: 150px;
}

.cooks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.border-row-male {
  border-left: 4px solid $blue-100;
}

.border-row-female {
  border-left: 4px solid $pink;
}

