<mat-form-field>
  <input matInput (keyup)="search($event.target.value)" placeholder="Search by City...">
</mat-form-field>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="avatar">
      <th mat-header-cell *matHeaderCellDef> Avatar</th>
      <td mat-cell *matCellDef="let cooks"> {{cooks.avatarUrl}}  </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let cooks"> {{cooks.firstName}}  </td>
    </ng-container>
    <ng-container matColumnDef="surname">
      <th mat-header-cell *matHeaderCellDef> Surname</th>
      <td mat-cell *matCellDef="let cooks"> {{ cooks.lastName }} </td>
    </ng-container>
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef>City</th>
      <td mat-cell *matCellDef="let cooks"> {{cooks.city}}
        <button mat-raised-button matTooltip="City, State, Country"></button>
      </td>
    </ng-container>
    <ng-container matColumnDef="diet">
      <th mat-header-cell *matHeaderCellDef> Diet</th>
      <td mat-cell *matCellDef="let cooks"> {{cooks.diet}} </td>
    </ng-container>
    <ng-container matColumnDef="numberOfRecipes">
      <th mat-header-cell *matHeaderCellDef> Number of Recipes</th>
      <td mat-cell *matCellDef="let cooks"> {{cooks.numberOfRecipes}} </td>
    </ng-container>
    <ng-container matColumnDef="lastLogged">
      <th mat-header-cell *matHeaderCellDef> Last logged</th>
      <td mat-cell *matCellDef="let cooks"> {{cooks.loggedAt}} </td>
    </ng-container>
    <ng-container matColumnDef="showProfile">
      <th mat-header-cell *matHeaderCellDef> <span class="material-icons">person
</span></th>
      <td mat-cell *matCellDef="let cooks"> {{cooks}}
        <button mat-raised-button></button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 (page)="changePage($event)"
  ></mat-paginator>
</div>

