@import "src/assets/styles/variables";

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: $blue-theme;
  align-items: center;
  height: 80px;
  color: white;
}

.img-fluid {
  height: 80px;
  margin-left: 20px;
  margin-right: 20px;
}


.logo-container {
  display: flex;
  align-items: center;
}


.mat-slide-toggle {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;

}


