:host {
  display: block;
}

.number {
  color: white;
  background-color: #20515a;
  border-radius: 10px;
  padding: 5px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.no-recipes {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.material-icons {
  font-size: 200px;
}

.tabs {
  background-color: white;
  border-radius: 5px;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.search {
  height: 70px;
  width: 150px;
}
