<h1 class="mt-3">Your Recipes</h1>
<div class="call-to-action-buttons">
  <div class="actions">
    <mat-form-field>
      <input #input matInput placeholder="Search by title" class="ml-4 mt-2" (keyup)="filterByTitle(input.value)">
    </mat-form-field>
    <button class="w-100 ml-4" mat-raised-button color="primary" (click)="openDialog()">Add Recipe</button>
  </div>
</div>
<div class="tabs">
  <mat-tab-group (selectedIndexChange)="filterRecipesByKind($event)">
    <mat-tab label="All  ({{ recipes.length }})"></mat-tab>
    <mat-tab label="Starters  ({{ numberOfStarterRecipes }})"></mat-tab>
    <mat-tab label="Main Dishes  ({{ numberOfMainRecipes }})"></mat-tab>
    <mat-tab label="Soups  ({{ numberOfSoupRecipes }})"></mat-tab>
    <mat-tab label="Desserts  ({{ numberOfDessertRecipes }})"></mat-tab>
  </mat-tab-group>
</div>
<div class="spinner-container">
  <app-spinner *ngIf="isLoading"></app-spinner>
</div>
<div *ngIf="!isLoading">
  <div *ngIf="recipes.length > 0; else noRecipes" class="row">
    <div class="col-sm-6 mb-3" *ngFor="let recipe of recipesByKind">
      <app-recipes-item [recipe]="recipe"
                        (deleted)="displayConfirmationModal($event)"
                        (edited)="openEditRecipeDialog($event)">
      </app-recipes-item>
    </div>
  </div>
</div>
<ng-template #noRecipes>
  <div class="no-recipes">
    You have no recipes
    <span class="material-icons">search</span>
  </div>
</ng-template>
