<div class="row">
  <div class="col-sm-6 mb-3" *ngFor="let recipe of user?.recipes">
    <mat-card>
      <mat-card-header>
        <mat-card-title> {{ recipe.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="kind">Kind: {{ recipe.kind }}</p>
        <img [src]="recipe.images[0]?.url" class="img-fluid">
      </mat-card-content>
      <button mat-raised-button color="primary"
              (click)="navigate(recipe.id)"><span class="material-icons"
      >description</span>
      </button>
    </mat-card>
  </div>
</div>

