<mat-card>
  <mat-card-header>
    <div class="title"></div>
    <mat-card-title> {{ recipe.title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <img [src]="recipe.images[0]?.url" class="img-fluid">
  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-between">
<div class="buttons">
  <button mat-raised-button color="warn" (click)="deleteRecipe()"><i class="fas fa-trash"></i></button>
  <button mat-raised-button color="primary" (click)="editRecipe()" class="pl-2"><i class="fas fa-edit"></i></button>
  <button mat-raised-button color="primary" routerLink="{{recipe.id}}" class="pl-2"><span class="material-icons">description</span></button>
</div>
  </mat-card-actions>
</mat-card>

