<h2> {{ recipe.title }}</h2>
<hr>
<div class="row">
  <div *ngFor="let image of recipe.images" class="col-sm-4">
    <img [src]="image.url" class="img-fluid images">
    <div>
      <div>
        <button mat-raised-button color="primary"
                class="mt-3"
                (click)="deleteImage(image.id)"><i class="fas fa-trash"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="card-text" [innerHTML]="recipe.formula"></div>
<div class="back-button" routerLink="../">
  <button mat-raised-button color="primary">← Back to recipe list</button>
</div>

