<h1 class="mt-3">Calorie Calculator</h1>
<div class="d-md-flex justify-content-between">
  <div class="facts">
    <mat-card>
      <form [formGroup]="modelForm" *ngIf="modelForm">
        <p>{{(modelForm?.value?.nutritionFacts?.totalCalories * modelForm?.value?.quantity).toFixed(1)}} Calories</p>
        <mat-form-field>
          <mat-label>Choose product to see a nutrition facts</mat-label>
          <mat-select formControlName="nutritionFacts">
            <mat-option *ngFor="let nutritionFacts of nutritionFacts"
                        [value]="nutritionFacts"> {{ nutritionFacts.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Quantity</mat-label>
          <input matInput type="number" formControlName="quantity">
        </mat-form-field>
        <mat-chip-list class="mat-form-field-flex">
          <mat-chip color="primary">
            <p></p>
            FAT  {{(modelForm?.value?.nutritionFacts?.nutritionFacts?.totalFat * modelForm?.value?.quantity).toFixed(1)}}
            g
          </mat-chip>
          <mat-chip color="primary">
            CARBS  {{(modelForm?.value?.nutritionFacts?.nutritionFacts?.totalCarbohydrate * modelForm?.value?.quantity).toFixed(1)}}
            g
          </mat-chip>
          <mat-chip color="primary">
            FIBER  {{(modelForm?.value?.nutritionFacts?.nutritionFacts?.fiber * modelForm?.value?.quantity).toFixed(1)}}
            g
          </mat-chip>
          <mat-chip color="primary">
            PROTEIN  {{(modelForm?.value?.nutritionFacts?.nutritionFacts?.protein * modelForm?.value?.quantity).toFixed(1)}}
            g
          </mat-chip>
        </mat-chip-list>
      </form>
    </mat-card>
    <div class="mat-form-field-flex justify-content-between mt-3">
      <button mat-raised-button color="primary" (click)=" addSelectedProductToMealsList()">Add to calculate</button>
    </div>
    <mat-card class="mt-3 mb-3">
      <mat-card-header>
        <mat-card-title>Calorie Burn Time</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        How long would it take to burn
        off {{(modelForm?.value?.nutritionFacts?.totalCalories * modelForm?.value?.quantity).toFixed(1)}}
        Calories of {{ modelForm?.value?.nutritionFacts?.name}}
      </mat-card-content>
      <div class="mat-form-field-flex text-center mt-3">
  <span class="">
  <span
    class="material-icons">pool</span>{{(modelForm?.value?.nutritionFacts?.totalCalories * modelForm?.value?.quantity /
    modelForm?.value?.nutritionFacts?.timeToBurn?.swimming).toFixed(0)}} minutes
</span>
        <span>
  <span
    class="material-icons">directions_run</span>{{(modelForm?.value?.nutritionFacts?.totalCalories * modelForm?.value?.quantity /
          modelForm?.value?.nutritionFacts?.timeToBurn?.running).toFixed(0)}} minutes
</span>
        <span>
  <span
    class="material-icons">directions_bike</span>{{(modelForm?.value?.nutritionFacts?.totalCalories * modelForm?.value?.quantity /
          modelForm?.value?.nutritionFacts?.timeToBurn?.cycling).toFixed(0)}} minutes
</span>
        <span>
  <span
    class="material-icons">directions_walk</span>{{(modelForm?.value?.nutritionFacts?.totalCalories * modelForm?.value?.quantity /
          modelForm?.value?.nutritionFacts?.timeToBurn?.walking).toFixed(0)}} minutes
</span>
      </div>
      <p class="mt-4"><small>Based on a 35 year old female who is 5'7" tall and weighs 144 lbs.</small></p>
    </mat-card>
  </div>
  <mat-card class="meal-plan mb-3">
    <div class="meal-plan">
      <fieldset class>
        <table class="table table-hover" [formGroup]="mealsForm">
          <thead>
          <tr>
            <th>Calories</th>
            <th>Fat</th>
            <th>Carbs</th>
            <th>Protein</th>
          </tr>
          </thead>
          <tbody formArrayName="meals">
          <tr class="meal-plan mt-4" *ngFor="let meals of meals.controls; let i = index" [formGroupName]="i">
            <td><input class="input" formControlName="calories"/>g</td>
            <td><input class="input" name="fat" formControlName="fat"/>g</td>
            <td><input class="input" name="carbs" formControlName="carbs"/>g</td>
            <td><input class="input" name="protein" formControlName="protein"/>g</td>
            <button class="button mr-1" mat-raised-button color="warn" (click)="removeMeal(meals)">
              <span class="material-icons">delete</span>
            </button>
          </tr>
          </tbody>
        </table>
      </fieldset>
    </div>
  </mat-card>
  <div class="nutrition-facts">
    <mat-card>
      <mat-card-header>
        <mat-card-title> Nutrition Facts</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="modelForm" *ngIf="modelForm">
          <table class="table table-hover">
            <tbody>
            <tr>
              <th scope="row"></th>
              <td>{{(modelForm?.value?.nutritionFacts?.totalCalories * modelForm?.value?.quantity).toFixed(1)}}
                Calories
              </td>
              <td></td>
              <td
                class="text-right">{{(modelForm?.value?.nutritionFacts?.totalKj * modelForm?.value?.quantity).toFixed(1)}}
                (kJ)
              </td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td></td>
              <td></td>
              <td class="text-right">%DV*</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td><strong>Total Fat</strong></td>
              <td>{{(modelForm?.value?.nutritionFacts?.nutritionFacts?.totalFat * modelForm?.value?.quantity).toFixed(1)}}
                g
              </td>
              <td
                class="text-right">{{(modelForm?.value?.nutritionFacts?.nutritionFacts?.totalFatPercentage * modelForm?.value?.quantity).toFixed(1)}}
                %
              </td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>Saturated Fat</td>
              <td>{{(modelForm?.value?.nutritionFacts?.nutritionFacts?.saturatedFat * modelForm?.value?.quantity).toFixed(1)}}
                g
              </td>
              <td class="text-right"></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>Polyunsaturated Fat</td>
              <td>{{(modelForm?.value?.nutritionFacts?.nutritionFacts?.polyunsaturatedFat * modelForm?.value?.quantity).toFixed(1)}}
                g
              </td>
              <td class="text-right"></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>Monounsaturated Fat</td>
              <td>{{(modelForm?.value?.nutritionFacts?.nutritionFacts?.monounsaturatedFat * modelForm?.value?.quantity).toFixed(1)}}
                g
              </td>
              <td class="text-right"></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td><strong>Cholesterol</strong></td>
              <td>{{(modelForm?.value?.nutritionFacts?.nutritionFacts?.cholesterol * modelForm?.value?.quantity).toFixed(1)}}
                g
              </td>
              <td
                class="text-right">{{(modelForm?.value?.nutritionFacts?.nutritionFacts?.totalCholesterolPercentage * modelForm?.value?.quantity).toFixed(1)}}
                %
              </td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td><strong>Sodium</strong></td>
              <td>{{(modelForm?.value?.nutritionFacts?.nutritionFacts?.sodium * modelForm?.value?.quantity).toFixed(1)}}
                g
              </td>
              <td
                class="text-right">{{(modelForm?.value?.nutritionFacts?.nutritionFacts?.totalSodiumPercentage * modelForm?.value?.quantity).toFixed(1)}}
                %
              </td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td><strong>Total Carbohydrate</strong></td>
              <td>{{(modelForm?.value?.nutritionFacts?.nutritionFacts?.totalCarbohydrate * modelForm?.value?.quantity).toFixed(1)}}
                g
              </td>
              <td
                class="text-right">{{(modelForm?.value?.nutritionFacts?.nutritionFacts?.totalCarbohydratePercentage * modelForm?.value?.quantity).toFixed(1)}}
                %
              </td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td><strong>Fiber</strong></td>
              <td>{{(modelForm?.value?.nutritionFacts?.nutritionFacts?.fiber * modelForm?.value?.quantity).toFixed(1)}}
                g
              </td>
              <td class="text-right"></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>Sugars</td>
              <td>{{(modelForm?.value?.nutritionFacts?.nutritionFacts?.totalCarbohydrate * modelForm?.value?.quantity).toFixed(1)}}
                g
              </td>
              <td class="text-right"></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>Protein</td>
              <td>{{(modelForm?.value?.nutritionFacts?.nutritionFacts?.protein * modelForm?.value?.quantity).toFixed(1)}}
                g
              </td>
              <td class="text-right"></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>Calcium</td>
              <td>{{(modelForm?.value?.nutritionFacts?.nutritionFacts?.calcium * modelForm?.value?.quantity).toFixed(1)}}
                g
              </td>
              <td class="text-right"></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>Potassium</td>
              <td>{{(modelForm?.value?.nutritionFacts?.nutritionFacts?.potassium * modelForm?.value?.quantity).toFixed(1)}}
                g
              </td>
              <td class="text-right"></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>Alcohol</td>
              <td>{{(modelForm?.value?.nutritionFacts?.nutritionFacts?.alcohol * modelForm?.value?.quantity).toFixed(1)}}
                g
              </td>
              <td class="text-right"></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>Iron</td>
              <td>{{(modelForm?.value?.nutritionFacts?.nutritionFacts?.iron * modelForm?.value?.quantity).toFixed(1)}}
                g
              </td>
              <td class="text-right"></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>Vitamin A</td>
              <td>{{(modelForm?.value?.nutritionFacts?.nutritionFacts?.vitA * modelForm?.value?.quantity).toFixed(1)}}
                g
              </td>
              <td class="text-right"></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>Vitamin C</td>
              <td>{{(modelForm?.value?.nutritionFacts?.nutritionFacts?.vitC * modelForm?.value?.quantity).toFixed(1)}}
                g
              </td>
              <td class="text-right"></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>Caffeine</td>
              <td>{{(modelForm?.value?.nutritionFacts?.nutritionFacts?.caffeine * modelForm?.value?.quantity).toFixed(1)}}
                g
              </td>
              <td class="text-right"></td>
            </tr>
            </tbody>
          </table>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<p class="mt-1 mb-2">
  <small>
    * The % Daily Value (DV) tells you how much a nutrient in a serving of food contributes to a daily diet.
    2,000 calories a day is used for general nutrition advice. Your daily values may be higher or lower depending on
    your energy needs.
    These values are recommended by a government body and are not eFooder recommendations.
  </small>
</p>

