.facts {
  width: 360px;
  margin-top: 20px;
}

.nutrition-facts {
  width: 360px;
  margin-top: 20px;
}

.calories {
  width: 160px;
}

.chip {
  flex-direction: row-reverse;
}

.total-fat {
  width: 88px;
}

.cholesterol {
  width: 94px;
}
