.facts {
  width: 360px;
}

.nutrition-facts {
  width: 360px;
}

.calories {
  width: 160px;
}

.table th, .table td {
  padding: 2.4px;
}

.meal-plan {
  width: 360px;
}

.input {
  width: 45px;
  margin-top: 5px;
  margin-bottom: 5px;
}

