@import "src/assets/styles/variables";

.calculation-data {
  width: 245px;
}

.img-fluid {
  border-radius: 4px;
  width: 100%;
  padding-bottom: 25px;
}

.conversion-data {
  background-color: $white;
  margin-top: 16px;
  margin-bottom: 16px;
}
